.snowflake {
  position: absolute;
  top: -10px;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
  color: white;
  font-size: 1em;
  will-change: transform;
  body {
    background-color: red;
}
}